@import "tailwindcss";

/* Animation du menu burger */
.burger div {
	transition: all 0.3s ease-in-out;
}

.burger.open div:first-child {
	transform: rotate(45deg) translateY(8px);
}
.burger.open div:last-child {
	transform: rotate(-45deg) translateY(-8px);
}
.burger.open div:nth-child(2) {
	transform: rotate(-45deg) translateX(-7px) translateY(-7px) scaleX(1.5);
}
/* .burger.open div {
	background-color: white;
} */

@font-face {
	font-family: "Leonore";
	src: url("../../public/fonts/leonore.woff2") format("woff2"),
		url("../../public/fonts/leonore.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@media (min-width: 768px) {
	/* md */
	.burger.open div:first-child {
		transform: rotate(45deg) translateY(10px) translateX(5px);
	}
	.burger.open div:last-child {
		transform: rotate(-45deg) translateY(-10px) translateX(5px);
	}
	.burger.open div:nth-child(2) {
		transform: rotate(-45deg) translateX(-6px) translateY(-12px) scaleX(1.5);
	}
}

/* Animation de déplacement doux */
@keyframes moveImage {
	0% {
		transform: translateX(0) scale(1.1);
	}
	50% {
		transform: translateX(-5px) scale(1.1);
	}
	100% {
		transform: translateX(5px) scale(1.1);
	}
}

.slideshow img {
	animation: moveImage 6s infinite alternate ease-in-out;
}

/* Transition pour afficher le menu */
.menu {
	transition: right 0.5s ease-in-out;
	z-index: 10;
}
.menu.right-0 {
	right: 0;
}
.menu {
	right: -100%;
}

/* Positionnement de la croix au-dessus du menu */
.close-btn {
	position: absolute;
	top: 4rem;
	right: 2rem;
	font-size: 2.5rem;
	color: white;
	cursor: pointer;
	z-index: 20;
}

.burger.open .close-btn {
	display: block;
}

.project img {
	transition: transform 0.3s ease-in-out;
}

.project:hover img {
	transform: translateX(-20px);
}

.project p.title::after {
	content: "";
	display: block;
	width: 0px;
	height: 1.5px;
	background-color: black;
	margin-top: 3px;
}

.project p.title {
	width: fit-content;
}

.project:hover p::after {
	width: 100%;
	transition: width 0.5s;
}

nav ul li a {
	font-family: "Leonore", sans-serif;
	width: fit-content;
	display: inline-block;
	position: relative;
}

nav ul li a::after {
	content: "";
	display: block;
	width: 0px;
	height: 1.5px;
	background-color: white;
	margin-top: 3px;
	position: absolute;
	right: 0;
	bottom: -10px;
}

.about nav ul li a::after {
    background-color: black;
}

nav ul li a:hover::after {
	width: 100%;
	transition: width 0.5s;
}
